body {
  margin: 0;
  padding: 5rem;
}

h1 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
}

label,
input {
  font-family: "Lexend", sans-serif;
  letter-spacing: 1px;
}

label {
  padding-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

button[type="submit"] {
  border: 1px solid #949494;
  border-radius: 5px;
  background-color: #949494;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  width: 100%;
}

.heading {
  display: flex;
}

.add-section {
  border: 1px solid #949494;
  border-radius: 5px;
  background-color: #949494;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.75rem;
  margin: 1rem 0;
}

.edit-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  background-color: #3c5366;
  color: #fff;
  padding: 2rem;
  margin-bottom: 1rem;
}
